.mainMessageCard {
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 1rem; */
  box-shadow: 0 0 10px grey;
  background-color: white;
  height: 100%;
}
.message-chat {
  /* background-color: rgba(24, 128, 128, 0.377);  */
  height: 100%;
}

.sendmessage {
  background-color: #f1efed;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.329) !important;
  padding: 0.6rem 1rem;
}
.sendmessage input {
  border-radius: 10px !important;
  border: 1px solid rgb(197, 197, 197);
}

/* .sendmessage input:focus,
  .sendmessage input:active {
    border: 1px solid red !important; 
     box-shadow: 0 0 0; 
  } 
  */
.messages {
  background-color: #e4dcd8;
  background-size: auto;
  background-repeat: initial;
  background-position: center;
  max-height: calc(100vh - 9rem);
  height: 100% !important;
  overflow-y: scroll !important;
}
.chat-profile {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 3.8rem;
  padding: 0 1rem;
  background-color: #eeeeeea6;
  box-shadow: 0 1px 5px grey;
}
.messageStyle span {
  word-break: break-word;
}
.messageStyle {
  position: relative;
  background-color: white;
  max-width: 50%;
  width: 100%;
  border-radius: 10px;
  padding: 0.2rem 0.4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.emojiBoard-message {
  position: absolute !important;
  bottom: 120%;
  left: -1rem;
}
/* CHAT SETTING */
.chatSetting {
  z-index: 900;
  background-color: rgb(235, 235, 235);
  box-shadow: 0 0 10px grey;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  top: -25rem;
  padding: 1rem 0 0 0;
  /* right: 0; */
  transition: 0.2s;
  z-index: 50;
  /* opacity: 0; */
  /* display: none; */
}
.chatAppear {
  /* display: block; */
  opacity: 1;
  top: 0;
}
.addUserSearchBar {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgba(224, 224, 224, 0.808);
  box-shadow: 0 5px 5px grey;
}

/* ==================================== CHAT LIST CARD */
.chatsCardWrapper {
  background-color: rgb(238, 238, 238);
  border-right: 1px solid rgba(128, 128, 128, 0.349);
}
.searchChatUsers {
  height: 2rem;
  margin: 0.4rem;
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(187, 187, 187, 0.178);
  border-radius: 30px;
  color: white;
  transition: 0.2s !important;
}
.searchChatUsers input {
  height: 2rem;
  padding: 0 0.2rem;
  border: 0px solid white;
  background-color: rgba(145, 145, 145, 0.03);
  color: white;
  max-width: 80%;
  border-radius: 20px;
  transition: 0.2s !important;
}
.searchChatUsers input:focus {
  border: 0px solid white;
  background-color: rgba(145, 145, 145, 0.03);
  box-shadow: unset !important;
  color: white;
}
.searchUserList {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(235, 225, 213);
  top: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px grey;
  padding: 0.2rem 0.2rem;
  z-index: 300;
}
.activeUserList {
}
.singleFindedUser {
  padding: 0.1rem;
  display: flex !important;
  align-items: center;
  margin: 0.1rem 0;
  gap: 0.4rem;
  border-radius: 10px;
  background-color: rgb(236, 236, 236);
  transition: 0.2s !important;
}
.singleFindedUser:hover {
  background-color: rgba(255, 255, 255, 0.801);
  transform: scale(1.02);
}
.chatLastMess {
  white-space: nowrap;
  max-width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* ================ */
.singleChat {
  display: flex;
  padding: 0.4rem;
  gap: 0.4rem;
  background-color: white;
  color: darkslategray;
  transition: 0.1s;
  transition-timing-function: ease-in;
  z-index: 100;
}
.singleChat:hover {
  box-shadow: 0 0 5px grey;
  background-color: rgb(244, 250, 255);
  color: rgb(68, 68, 68);
  cursor: pointer;
  z-index: 900;
  transform: scale(1.02);
}
.singleChat:active {
  box-shadow: 0 0 5px grey;
  z-index: 900;
  transform: scale(1);
}
.activeChat {
  background-color: #ffffff;
  z-index: 200;
  box-shadow: 0 0 5px grey;
  color: black;
}
/*  MESAGE BTN APPEAR */
.msgBtnMobile {
  position: absolute;
  left: -1.5rem;
  bottom: 3rem;
  background-color: rgb(150, 141, 132);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 0.8rem;
  color: white;
  box-shadow: 0 0 5px grey;
}
.mobileAllChats {
  min-width: 13rem;
}
