.profile-page {
  display: flex;
  width: 100%;
  background-color: white;
  overflow: hidden;
  /* border-radius: 20px; */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 5px 10px rgba(128, 128, 128, 0.507);
}
.image-profile {
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 5rem;
  object-fit: cover;
}
.img-avatar {
  position: absolute;
  right: -4rem;
  top: calc(50% - 4rem);
}
.user-info {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  align-items: center;
  justify-content: center;
  margin-left: 3.5rem;
  width: 100%;
}
/* SECOND CONTENT CARD */
.secondCard {
  border-radius: 20px;
  box-shadow: 0 5px 10px rgb(177, 177, 177);
  background-color: white;
  padding: 1rem;
}

/* FOLLOWING USER LIST */
.following-list-user {
}
/* ============================================ SECOND CARD TABS */
/* Booking tab */
.availabilityCard {
  border-radius: 10px;
  box-shadow: 0 0 3px grey;
  padding: 0.4rem;
  width: auto;
  margin: 0.2rem 0;
}

/*=======================STORE */
.storeTab {
  padding: 1rem;
  position: relative;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  gap: 1rem;
}
.storeItem {
  position: relative;
  min-width: 13rem;
  max-width: 13rem;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  overflow: hidden;
}
