.post-container {
  width: 100%;
  background-color: white;
  padding: 1rem 0;
  height: 100%;
}
.side-drawer {
  min-width: 18rem !important;
}
.post {
  margin: 1rem 0;
  box-shadow: 0 2px 10px rgba(128, 128, 128, 0.555);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.post-img {
  width: 50px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.post-create {
  background-color: rgba(100, 148, 237, 0.267);
  margin: 0 1rem;
  padding: 0.2rem;
  border-radius: 20px;
}
/* IMAGE UPLOAD SLIDER */
.upload-images {
  position: relative;
  align-items: center;
  display: flex;
  border-radius: 20px;
  padding: 1rem;
  gap: 1rem;
  background-color: rgba(224, 224, 224, 0.192);
  overflow-x: scroll;
}
.delete-img-button {
  position: absolute;
  content: "";
  border-radius: 50%;
  opacity: 0.3;
  right: 2px;
  top: 2px;
  padding: 0;
  color: black;
  background-color: azure;
  transition: 0.2s;
}
.delete-img-button:hover {
  opacity: 0.8;
}
/*  ========== Delete Button */
.delete-btn {
  border: unset;
  min-height: 1rem;
  min-width: 1rem;
  border-radius: 50%;
  /* position: absolute; */
  opacity: 0.6;
  display: flex;
  left: 0.2rem;
  color: white;
  transition: 0.3s !important;
  background-color: rgb(253, 94, 94);
}
.delete-btn svg {
  transition: 0.5s !important;
  color: rgb(253, 94, 94) !important;
  display: none;
}
.delete-btn:hover svg {
  transform: scale(0.8);
  color: white !important;
  display: block;
}
.delete-btn:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.2);
  border: 0px solid rgb(253, 94, 94);
}
/* ======= COMMENTS */
.singleComment {
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem 0;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(209, 209, 209);
}
