.navbar {
  background-color: rgb(111, 145, 165);
  width: 100%;
  height: 2.8rem;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 500;
}
.logo-style {
  color: white;
  text-decoration: none;
}
.logo-style:hover {
  color: white;
  text-decoration: none;
}
.menuBar {
  height: 2.5rem;
  position: fixed;
  box-shadow: 0 0 5px rgb(23, 66, 71);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.2rem 0.6rem;
  background-color: #587483;
  color: white;
  inset: auto 0 0 0;
}

/* NAV SEARCH */
.navSearch {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(211, 211, 211);
  border-radius: 15px;
  padding: 0 0.1rem;
  color: white;
  margin: 0 0.4rem;
  transition: 0.2s !important;
}
.navSearch input {
  height: 2rem;
  padding: 0 0.2rem;
  border: 0px solid white;
  background-color: rgb(211, 211, 211);
  color: white;
  max-width: 80%;
  border-radius: 20px;
  transition: 0.2s !important;
}

.navSearch input:focus {
  border: 0px solid white;
  background-color: rgb(211, 211, 211);
  box-shadow: unset !important;
  color: white;
}
/* .navSearch:focus-within {
  max-width: 80% !important;
  width: 100% !important;
} */
