/* SIDEBAR */
.sidebar {
  background-color: white;
  /* border-radius: 20px; */
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 1rem 0;
}
.sidebar-profile {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  color: black;
  display: flex;
  padding: 0.2rem 0.4rem;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
}
.sidebar-profile:hover {
  text-decoration: none;
  color: black;
}
.imageSidebar {
  width: 3rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}
.sidebar-link {
  text-decoration: none;
  color: black;
}
.sidebar-link:hover {
  text-decoration: none;
  color: black;
}
.findedUser {
  position: absolute;
  opacity: 1;
  content: "";
  background-color: rgb(223, 223, 223);
  padding: 0.4rem;
}
